* {
  box-sizing: border-box;
}

.crossword-square {
  display: grid;
  border: 1px solid black;
  padding: 4px 2px 5px 3px;
  grid-template-columns: 5px auto;
  grid-template-rows: 3px 50px;
}

.clue-number {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-size: 10px;
}

.answer {
  grid-column: 2 / 2;
  grid-row: 2 / 2;
  font-size: 27px;
  text-align: center;
  -webkit-user-select: none; /* Safari */
  user-select: none;
}

.background-color-white {
  background-color: #ffffff;
}

.background-color-black {
  background-color: #000000;
}

.background-color-highlight {
  background-color: #a5cbe0;
}

.background-color-focus-highlight {
  background-color: #fffb00;
}
